

  .super-mario{
      width: 400px;
      position: absolute;
      z-index: 1;


  }
  .goomba{
    width: 400px;
    top: 700px;
    position: absolute;
    z-index: 2;

  }
  .baloon{
    width: 400px;
    position: absolute;
    top: 1300px;
    z-index: 3;

  }
  .bowser{
    width: 400px;
    position: absolute;
    z-index: 2;
    top: 1400px;
    left: 350px;
    
  }
  .word{
      position: absolute;
      z-index: 4;
      font-size: 30px;
      left: 50px;
      top: 1350px;
      float: left;
      
  }
